**
!apps/
!apps/server/
!apps/server/Dockerfile
!apps/server/go.mod
!apps/server/go.sum
!apps/server/*.go
!apps/client/
!apps/client/build/
!apps/client/build/server/
!apps/client/build/server/dlut-game-server.x86_64
!apps/client/build/server/dlut-game-server.pck
