**
!apps/
!apps/api/
!apps/api/Dockerfile
!apps/api/go.mod
!apps/api/go.sum
!apps/api/*.go
!apps/game/
!apps/game/build/
!apps/game/build/server/
!apps/game/build/server/dlut-online-server.x86_64
!apps/game/build/server/dlut-online-server.pck
!apps/web/
!apps/web/package.json
!apps/web/pnpm-lock.yaml
!apps/web/index.html
!apps/web/tsconfig.json
!apps/web/vite.config.ts
!apps/web/src/
!apps/web/src/**
